/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  background: #e9e9e9;
  color: #333;
}

h1 a{
  color: #CD1B1F;
  text-decoration:none;
}

a{
  color:#333;
}

.pin{
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  width:200px;
  margin:.5em;
  padding:.5em;
}

.pin img{
  max-width:100%;
}

.pin h3{
  margin:0 0 .5em 0;
}

body{
  max-width:45em;
  font-family:"Helvetica Neue", sans-serif;
  background: #fff;
  padding:2em;
  margin:2em auto;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #ccc;
}

body :first-child{
  margin-top:0;
}

.row.board:nth-of-type(2n+1){
  background: #e9e9e9;
}

.board.row{
  padding:1em;
  font-weight:bold;
}

.board.row > a{
  text-decoration:none;
}

.board.row > a:hover{
  text-decoration:underline;
}

.cf:after{
  content:'';
  display:block;
  clear:both;
}

header h1{
  float:left;
}

header nav {
  float:right;
  line-height: 2;
}
